{% extends 'base.html.twig' %}

{% block body %}
    
        
<h1 class="p-5 my-4 text-3xl font-semibold text-center"><span class="fa {{ category.iconKey }}"></span> {{ category.name }} Fortunes</h1>
<div class="flex justify-center px-4 mb-16">
    <div>
        <table class="mb-6 border table-auto">
            <thead class="text-white bg-slate-500">
                <tr>
                    <th class="p-4 border">
                        Fortunes
                    </th>
                    <th class="p-4 border">
                        Print History ({{ fortunesPrinted|number_format }} total)
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for fortuneCookie in category.fortuneCookies %}
                <tr class="hover:bg-slate-200">
                    <td class="p-4 border">
                        {{ fortuneCookie.fortune }}
                    </td>
                    <td class="p-4 border">
                        {{ fortuneCookie.numberPrinted }} printed since {{ fortuneCookie.createdAt|date('M jS Y') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="font-semibold text-slate-700 hover:text-slate-900" href="{{ path('app_homepage') }}"><i class="fa fa-angle-double-left"></i> Back to Fortune Categories</a>
    </div>
</div>
    
        
    
{% endblock %}
